.home {
  text-align: center;

  &__toggle {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 40%;
    margin: 0 auto 20px;

    &-item {
      flex: 0 0 50%;
      background: #eee;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      color: #282c34;
      cursor: pointer;
      transition: all 0.25s ease-in;

      &:first-child {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
      }

      &:last-child {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
      }

      &.selected {
        background: #282c34;
        color: #ffffff;
        transition: all 0.25s ease-in;
      }
    }
  }
}
