ul {
  li {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.selected {
      border-color: #61dafb;
    }

    img {
      height: 60px;
      width: 60px;
      border-radius: 8px;
      margin-right: 10px;
      object-fit: cover;
    }

    span {
      font-size: 18px;
      line-height: 1;
    }
  }
}
